<!DOCTYPE html>
<html lang="ro">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="cafea, coffee, espresso, cafea proaspata, cafea boabe, cafea macinata, cafea 100% arabica, cafea fara cofeina, coffee shop, bauturi calde, atmosfera relaxanta, cafea de specialitate, intalniri cu prietenii, cafea artizanala, bauturi cu lapte, relaxare, loc de intalnire, cappuccino, latte, cafea proaspat prajita">
    <meta name="description" content="Sleepless Brews este magazinul tau online de cafea, creat pentru noptile care nu se mai termina si diminetile care vin prea devreme">
    <meta name="author" content="Ursu Alexandru Petruț">
    <title>SleepLess Brews</title>

    <%- include("../fragmente/head.ejs") %>
    <link rel="stylesheet" href="/resurse/css/despre.css">
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <div class="inceputul-magazinului">
        <h4>De unde a pornit totul?</h4>
    </div>
    <h3 style="margin-left: 80px;">Povestea <strong><i lang="en">SleepLess Brews</i></strong></h3>
    <p style="margin-left: 60px; margin-right: 60px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur assumenda, consectetur cumque laudantium necessitatibus omnis provident tempora! A asperiores eius ipsam iste necessitatibus nostrum numquam quod ut vel veniam.</p>
    <div class="video-latte">
        <video controls width="720" preload="auto" poster="/resurse/imagini/poster-latte.jpg" class="responsive-latte">

            <source src="/resurse/videoclipuri/Latte_art_for_beginners.mp4">
            <source src="/resurse/videoclipuri/Latte_art_for_beginners.webm">

            <track src="/resurse/videoclipuri/subtitrari/romana.vtt" kind="subtitles" srclang="ro" label="Romana" default>
            <track src="/resurse/videoclipuri/subtitrari/engleza.vtt" kind="subtitles" srclang="en" label="English">
        </video>
    </div>
</body>