<!DOCTYPE html>
<html lang="ro">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="cafea, coffee, espresso, cafea proaspata, cafea boabe, cafea macinata, cafea 100% arabica, cafea fara cofeina, coffee shop, bauturi calde, atmosfera relaxanta, cafea de specialitate, intalniri cu prietenii, cafea artizanala, bauturi cu lapte, relaxare, loc de intalnire, cappuccino, latte, cafea proaspat prajita">
    <meta name="description" content="Sleepless Brews este magazinul tau online de cafea, creat pentru noptile care nu se mai termina si diminetile care vin prea devreme">
    <meta name="author" content="Ursu Alexandru Petruț">
    <title>SleepLess Brews</title>

    <%- include("../fragmente/head.ejs") %>
</head>
<body>
<%- include("../fragmente/header.ejs") %>
<div class="galerie-container">
    <%- include('../fragmente/galerie.ejs') %>
</div>
</body>
</html>