main{
    --padd-main:1rem;
    padding-left: 80px;
    padding-right:80px;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}
.form-label-group > input,
.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: .75rem .75rem;
    margin: 0;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s;
    pointer-events: none;
}
.form-label-group > label {
    display: flex;
    align-items: center;
    padding: .75rem .75rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #fff;
    border-radius: .25rem;
    transform-origin: 0 0;
    z-index: 2;
}
.form-label-group > input:placeholder-shown + label {
    transform: translateY(0);
    font-size: 1rem;
    opacity: .65;
}
.form-label-group > input:focus + label,
.form-label-group > input:not(:placeholder-shown) + label {
    transform: translateY(-.75rem) scale(.8);
    font-size: .75rem;
    opacity: .8;
}
.form-label-group > input:focus {
    z-index: 3;
}
.form-label-group input.is-invalid ~ label{
    color: #dc3545;
}
.grid-produse{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}
.grid-produse .produs{
    border-radius: 2rem;
    box-shadow: 0 0 0.8rem 0.3rem grey;
    overflow: hidden;
}

.nume{
    color: white;
}
.grid-produse .produs h3{
    background-color: var(--idk-color);
    text-align: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.grid-produse .produs h3 a{
    color:navajowhite;
}
.grid-produse .produs h3 a:hover{
    color:white;
}
.grid-produse .produs figure{
    text-align: center;
}
.grid-produse .produs figure img{
    border:1px solid grey
}
.grid-produse .produs .info-prod{
    display:flex;
    background-color: var(--highlight-color);
}
.grid-produse .produs .info-prod p{
    width:30%;
    text-align:center;
    font-weight:bold;
}

.grid-produse .produs p.categorie{

    text-align:center;
    font-weight:bold;
}

.info-produse{
    background-color: var(--highlight-color);
    padding:0.2rem;
    box-shadow: 0px 0px 0.5rem 0.15rem grey;
}

.produs{
    position: relative;
}
.selecteaza-cos{
    display: inline-block;
    background-color: burlywood;
    position:absolute;
    bottom:0.5rem;
    right:0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    padding:0.3rem;
    border:1px solid transparent;
}

.selecteaza-cos:hover{
    background-color: var(--highlight-color);
    
    border:1px solid brown;
}