<footer>
    <a href="#" title="mergi sus" class="top-button">
        <div class="container-link-top">
            <div class="link-top-wrapper">
                <div class="link-top-border"></div>
                <div class="link-top">
                    <i class="fa-solid fa-arrow-up sageata"></i>
                </div>
            </div>
        </div>
    </a>
    <p class="banner-print" style="display: none">Acesta este un proiect școlar!</p>
    <br>
    <small>
        &copy; <time datetime="2025-03-02">2025 SleepLess Brews. Toate drepturile rezervate.</time>
    </small>
</footer>